.nav-color {
  color: grey;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: url("../../pages/Home/images/rain.jpg");
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f7f5f5;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav div:hover{
    color: #b1aeae;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .nav-icon {
      font-size: 30px;
      cursor: pointer;
      margin-left: 10px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 8px;
      padding-right: 8px;
      /* border: 1px solid grey; */
      position: absolute;
      top: 10px;

  }

  .img-logo {
    width: 2.2rem;
    opacity: 0.6;
}