.heading-background {
    /* background-color: #34495E;   */
    height: 55rem;
    background: url("./images/rain.jpg");
}

.subSection {
    height: 20rem;
    background: url("./images/rain.jpg");

}

.margin-top {
    margin-top: 16rem !important;
}

.heading-button {
    border-color: white;
    background: none;
    color:white;
}

.heading-font {
    text-shadow: 1px 1px darkgray;
}

.about-background {
    height: 60rem;
    border-bottom: 1px solid lightgray;
}

.portfolio-bg {
    height: 55rem;
}

.contact-bg {
    height: 55rem;
}
