.projects {

    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border: none;

}

.showDescription {
    display: none;
}

.projects:hover .showDescription{
    display: block;
    z-index: 2;
    background-color: gray;
    opacity: 0.8;
}